:root {
  --color-surface: #f8f9ff;
  --color-surface-dim: #cbdbf5;
  --color-surface-bright: #f8f9ff;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #eff4ff;
  --color-surface-container: #e5eeff;
  --color-surface-container-high: #dce9ff;
  --color-surface-container-highest: #d3e4fe;
  --color-on-surface: #0b1c30;
  --color-on-surface-variant: #434652;
  --color-inverse-surface: #213145;
  --color-inverse-on-surface: #eaf1ff;
  --color-outline: #747783;
  --color-outline-variant: #c4c6d3;
  --color-surface-tint: #345baf;
  --color-primary: #002869;
  --color-on-primary: #ffffff;
  --color-primary-container: #0b3d91;
  --color-on-primary-container: #8dadff;
  --color-inverse-primary: #b1c5ff;
  --color-secondary: #7e5700;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #feb300;
  --color-on-secondary-container: #6a4800;
  --color-tertiary: #5f001b;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #89002a;
  --color-on-tertiary-container: #ff8d99;
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;
  --color-background: #f8f9ff;
  --color-on-background: #0b1c30;
  --font-family: 'Public Sans', 'Inter', sans-serif;
  --font-size-body: 16px;
  --font-size-body-sm: 14px;
  --font-size-table-data: 13px;
  --line-height-body: 24px;
  --radius-sm: 0.125rem;
  --radius-default: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 40px;
  --grid-gutter: 16px;
  --page-margin: 32px;

  --p-primary-color: var(--color-primary-container);
  --p-primary-contrast-color: var(--color-on-primary);
  --p-primary-hover-color: var(--color-primary);
  --p-primary-active-color: var(--color-primary);
  --p-content-border-radius: var(--radius-default);
  --p-surface-0: var(--color-surface-container-lowest);
  --p-surface-50: var(--color-surface);
  --p-surface-100: var(--color-surface-container-low);
  --p-surface-200: var(--color-surface-container);
  --p-surface-300: var(--color-surface-container-high);
  --p-surface-400: var(--color-surface-container-highest);
  --p-text-color: var(--color-on-surface);
  --p-text-muted-color: var(--color-on-surface-variant);
}
